body {
  font-family: "Roboto", sans-serif;
  
}


.searchbar {
  
  max-width: 399px;
}
.searchbar .form-control:focus { box-shadow: none; }
.searchbar .input-group-text,
.searchbar .btn { color: #F5F5F5; }
.input-group{
  border-radius: 12px;
}

.searchbar input::placeholder{
  font-size: 12px;
}

.searchbar  {
  padding-top: 14.5px;
  padding-bottom: 14.5px;
}



.user{
  margin-right: 50px;
}

.user-btn{
  border: none;
  background: none;
  
}
.user-img img{
  border-radius: 12px;
}


.searchbar .input-group {
  height: 48px;   
}


.archive button{
  border: none;
  height: 48px;
  width: 48px;
  background-color: none;
  border-radius: 12px;
  transition: all 0.3s;
}

.archive{
  border-radius: 12px;
  background-color: #F5F5F5;
}

.archive button:hover{
  
  background-color: #cacaca;
}


.navbar-toggler-icon{
  background-image: none;
  width: 100%;
}

.navbar-toggler{
  background-color: #F5F5F5;
  border: none;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  
}




@media (min-width: 992px) {   
  .container {
    max-width: 1400px;  
  }
}


@media (min-width: 1200px) {   
  .container {
    max-width: 1200px;  
  }
}

@media (min-width: 1400px) {   
  .container {
    max-width: 1600px;  
  }
}


/* Footer */

.nl .nl-box,
.nl .nl-box .form-control,
.nl .nl-box .btn {
  height: 48px;                
}

.nl .form-control:focus {
  box-shadow: none;
}

.nl .form-control::placeholder {
  font-size: 0.9rem;
  color: #8f8f8f;
}

.left-footer{
  background-color: #F5F5F5;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.left-right{
  margin-left: 160px;
}

.privacy{
  padding-right: 12px;
  margin-right: 40px;
  padding-top: 12px;

  background-color: rgba(62,50,50, 0.05);
  width: 90%;
  align-items: center;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 12px;
  
}

.privacy p{
  color: rgba(62,50,50, 0.75);
}

.leftt{
  background-color: #F5F5F5;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  
}


.bleed-left {
  position: relative;
  background: #f5f5f5;           
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

}


.bleed-left::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: calc(-50vw + 50%);       
  right: 100%;                   
  background: inherit;           
}

.strip-bleed-left {
  position: relative;
  background: rgba(62,50,50, 0.05);           
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;

}


.strip-bleed-left::before {
  content: "";
  position: absolute;
  top: 0; bottom: 0;
  left: calc(-50vw + 50%);       
  right: 100%;                   
  background: inherit;           
}

h3{
  font-size: 20px;
  
}

.left-footer p{
  font-size: 14px;
  opacity: 75%;
}

.right-footer p{
  font-size: 12px;
  opacity: 75%;
}

footer ul li a {
  color: rgba(62,50,50, 0.75);   
  font-size: 14px;         
  text-decoration: none;     
  display: block;            
}

h3::before{
  position: relative;
  content: url('../img/icons/Rectangle.svg');
  top: -3px;
  vertical-align: middle;
  left: -4px;
}

.ig{
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border-radius: 12px;
  padding-left: 17px;
  padding-right: 17px;
  background: linear-gradient(45deg, 
    #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  color: #fff;
  transition: background-position 0.5s ease, transform 0.3s ease;
}

.ig::before{
  position: relative;
  content: url('../img/icons/ig.svg');
  left: -4px;
  top: 1px;
}

.ig:hover {
  transform: scale(1.05);
  background-position: 100% 0;
}

.twi{
  border: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 12px;
  background: linear-gradient(45deg, 
    #1DA1F2 0%,   
    #0abcf9 50%,  
    #8ed0f9 100%  
  );
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;

}

.twi:hover {
  transform: scale(1.05);
  filter: brightness(1.1); 
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

footer ul{
  gap: 11px;
}

.comment{
  background-color: #F5F5F5;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 12px;
  transition: transform 0.4s ease;
}

footer h4{
  font-size: 16px;
}

.right-right{
  padding-left: 24px;
}

.rigt-right a {
  background: #f5f5f5;
  aspect-ratio: 1 / 1;   
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat img{
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.cat img:hover{
  transform: scale(1.1);
}

.comment:hover{
  cursor: pointer;
  transform: scale(1.05);
}

@media screen and (max-width:1100px) {
    .right-footer{
      display: none !important;
    }
    .left-footer{
      width: 100% !important;
    }
}

@media screen and (max-width:519px) {
    footer{
      display: none;
    }
}

.nl-box .form-control,
.nl-box .btn {
  height: 48px;                
  display: flex;
  align-items: center;         
}
/*Football*/
.football{
  background-image: url('../img/images/football-blur.webp') ;
  padding-top: 65px;
  padding-bottom: 65px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width:1400px) {
    .center-football{
      display: none;
    }
    .left-football{
      display: none;
    }

    .right-football{
      width: 75%;
    }

    .football-content{
      justify-content: center !important;
    }
}

@media screen and (max-width:500px) {
    .right-football{
      width: 90%;
    }
}

/*Weather*/
.weather{
  background-color: #F5F5F5;
  overflow: hidden;
}

.weather img{
  
  transition: transform 0.4s ease;
}

.weather img:hover{
  transform: scale(1.05);
}

.big-hidden{
  display: none;
}

@media screen and (max-width:1530px) {
    .big-weather {
      display: none;
    }
    

    .small-weather{
      width: 75% !important;
    }

    .weather .d-flex{
      justify-content: center !important;
    }
}

@media screen and (max-width:992px) {
    .small-weather{
      display: none;
    }
    
    .big-hidden{
      display: block;
    }
    .weather .d-flex{
      justify-content: center !important;
    }

    .big-weather img{
      max-width: 100%;
      height: auto;
    }
}




/*popular posts*/
 .navbtn{
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #F5F5F5;
  transition: all 0.3s ;
}
 .navbtn:hover{
  background-color: #cacaca;
}

.card-auth{
  background-color: #F5F5F5;
  width: 98%;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 12px;
  transition: all 0.3s ;
  margin-top: auto;
}

.popular .card-title{
  font-size: 16px;
}

.popular .card-text{
  font-size: 14px;
  opacity: 75%;
}
.auth-right{
  opacity: 50%;
}

.auth-left img{
  width: 44px;
  height: 44px;
  border-radius: 12px;
}
.popular h6{
  font-size: 14px;
}
.popular .auth-left p{
  font-size: 12px;
  opacity: 75%;
}

.card-img-wrapper{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.card-img-wrapper img{
  border-radius: 12px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  filter: brightness(100%);
  transition: all 0.3s ;
}

.popular .card{
  border: none;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ;
}

.popular .card{
  flex: 1 1 auto;
  cursor: pointer;
  
}

.card-auth:hover{
  background-color: #cacaca;
}
.card{
  display: flex ;
  flex-direction: column;
}
.popular .card:hover{
  background-color: rgb(236, 236, 236);
}

.popular .card:hover .card-img-wrapper img{
  filter: brightness(70%);
}

@media screen and (max-width:992px) {
    .hide-first{
      display: none;
    }
}

@media screen and (max-width:764px) {
    .hide-second{
      display: none;
    }
}

/*new posts*/

.horizantal-card{
  flex: 1 1 auto;
  flex-direction: row;
  max-width: 744px;
  
}

.horizantal-card .card-img-wrapper {
  width: 340px;        /* your default width */
  max-width: 100%;     /* shrink on small screens */
  overflow: hidden;    /* crop the excess */
  margin-inline: auto; /* center the wrapper */
}
.horizantal-card .card-img-wrapper img {
  width: 100%;         /* always fill horizontally */
  height: 100%;        /* match the wrapper’s height */
  object-fit: cover;   /* crop sides instead of squishing */
  display: block;
}
.horizantal-card .card-img-wrapper{
  padding-bottom: 10px;
}

@media screen and (max-width:520px) {
    .new .hide-hor{
      display: none !important;
    }

    .new .horizantal-card{
      flex-direction: column;
      max-width: 360px;
    }

    .horizantal-card .card-img-wrapper{
      padding-bottom: 0px;
  }
.new .row{
  justify-content: center;
}
.horizantal-card .card-img-wrapper {
  width: 100% !important;            
  max-width: none;        
  overflow: visible;      
  margin-inline: 0; 
}
.horizantal-card .card-img-wrapper img {
  width: 100%;            
  height: auto;           
  object-fit: fill;       
  display: inline;  
}
}

.new .navbtn{
  width: 119px;
  font-size: 14px;
  opacity: 75%;
  color: #3E3232;
  font-weight: 450;
}

.new .navbtn::after{
  position: relative;
  content: url(../img/icons/right\ arrow.svg);
  opacity: 50%;
  top: 1px;
  left: 4px;
}


/*latest vids*/

.latest-vids{
  background-color: #F5F5F5;
}

.latest-vids .navbtn{
  background-color: rgba(62, 50, 50, 0.05)
}

.latest-vids .navbtn:hover{
  background-color: rgba(26, 20, 20, 0.2)
}

.main-vid{
  position: relative;
  cursor: pointer;
  
}

.vid-content{
  overflow: auto !important;
  
}

.playbtn{
  position: absolute;
  top: 150px;
  left: 312px;
  
}

.play-circle{
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ;
}

.vid-img img{
  border-radius: 12px;
  transition: all 0.3s ;
}

.vid-desc{
  position: absolute;
  width: 724px;
  top: 316px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.3s ;
}

.vid-desc h6{
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.vid-desc p{
  font-size: 14px;
  opacity: 75%;
  padding: 0px;
  margin: 0px;
}

.main-vid:hover .play-circle{
  background-color: rgba(175, 175, 175, 0.75);
}

.main-vid:hover .vid-desc{
  background-color: rgba(175, 175, 175, 0.75);
}

.main-vid:hover .vid-img img{
  filter: brightness(80%);
}

.latest-vids .card{
  width: 488px;
}

.mini-cards .card{
  border: none;
  border-radius: 12px;
  width: 488px;
  height: 210px;
  cursor: pointer;
  transition: all 0.3s;
}

.mini-cards .card h5{
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

.mini-cards .card p{
  font-size: 14px;
  opacity: 75%;
  margin: 0px;
  padding: 0px;
}

.mini-cards img{
  width: 190px;
  height: 190px;
  border-radius: 12px;
}

.mini-cards .card-img-wrapper{
  width: 200px;
  border-radius: 12px;
}

.mini-cards .card:hover{
  background-color: rgb(173, 173, 173);
}